<% include ../partials/header %>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >


<div class="container">
    <div class="row " style="display:flex;flex-wrap:wrap;">
           
            <div class="col-md-5 ">
                <div class="thumbnail">

                        <div class="container">
                                        <form action="" class="form-inline my-2 my-lg-6">
                                                        <a href="/home"> <img src="images/home/store35x35.png"></a>
                                                       <h2 style="padding:0px 0px 0px 8px"><b style="color:brown">DREAM</b></h2><h2 style="color:brown">STORE</h2>
                                                  </form>
                        </div>

                    
                            
                            <h3 style="padding:0px 4px 0px 8px"> SHOP INFORMATION </h3>

                            <form action="" class="form-inline">  
                                        <!-- <label ><h4 style="padding:0px 4px 0px 8px">  Shop Name :-  </h4></label> -->
                                        <h4 style="padding:0px 4px 0px 8px">Shop Name :-    <%= user.shopname %> </h4> 
             
                             </form>

                             <form action="" class="form-inline">  
                                                <!-- <label ><h4 style="padding:0px 4px 0px 8px">  Seller Name :-  </h4></label> -->
                                                <h4 style="padding:0px 4px 0px 8px"> Seller Name :-    <%= user.sellername %> </h4> 
                     
                             </form>

                             <form action="" class="form-inline">  
                                                        <!-- <label ><h4 style="padding:0px 4px 0px 8px">  Shop Address :-  </h4></label> -->
                                                        <h4 style="padding:0px 4px 0px 8px">Shop Address :-    <%= user.shopaddress %> </h4> 
                             
                              </form>
                            
                           <form action="" class="form-inline">  
                                <!-- <label ><h4 style="padding:0px 4px 0px 8px">  Email :-   </h4></label> -->
                                <h4 style="padding:0px 4px 0px 8px"> Email :-    <%= user.email %> </h4> 
     
                           </form>

                           <form action="" class="form-inline">  
                                <!-- <label ><h4 style="padding:0px 4px 0px 8px; color: green"> <i class="fa fa-phone"></i>  Call :-</h4></label> -->
                                <a href="tel:<%= user.mobilenbr %>" class="phone"> <h4 style="padding:0px 4px 0px 8px"> <i class="fa fa-phone" style=" color: rgb(10, 241, 10)"></i>  Call :-       <%= user.mobilenbr %></h4></a> 
                            </form>

                            <form action="" class="form-inline">  
                            
                                
                                    <a href="<%= user.shopmap%>"> <h4 style="padding:0px 4px 0px 8px"><i class="fa fa-map-marker" aria-hidden="true" style="color:black"></i>   Shop on Google Map</h4></a>
                                
                            </form>

                    </div>
            </div>

            <div class="col-md-7 ">
                 

                        <div class="thumbnail">
                               <div class="container">
                                 <h3 >Total Products Uploaded By <%= user.shopname %> </h3>
                               </div>                      
                                
                            
                             
                             
                                       <ul>
                                                             
                                       <% carts.reverse().forEach(function(cart) { %>
                                              <h4><li><a href="/home/<%= cart.id %>"><%= cart.product %></a></li> </h4> 
                                       <% }); %>
                                       
                                       </ul>

                                      
                        
                           
                       </div>
                </div>


    </div>

   


</div>


















<% include ../partials/footer %>