<% include partials/header %>
        <body>
            <div class="container" style="padding: 20px">
                
                <form action="/home/<%=cart._id %>?_method=PUT" method="POST" class="form-horizontal" >
                        <div class="form-group">
                        
                        <div class="col-sm-10">
                                <h1>Edit Product Specification</h1>
                            <input type="text" class="form-control" name="cart[product]" value="<%= cart.product%>"" >
                        </div>
                        </div>
                        <div class="form-group">
                            <label for="image" class="col-sm-2 control-label"><strong>Edit Image </strong> </label>
                    <div class="col-sm-10">
                        
                            <input type="file" name="image" id="image"accept="image/*"  >
                       
                    </div>
                    </div>


                        
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label"><strong>Information about Product</strong></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="cart[description1]" value="<%= cart.description1 %>" >
                                    <input type="text" class="form-control" name="cart[description2]" value="<%= cart.description2 %>" >
                                    <input type="text" class="form-control" name="cart[description3]" value="<%= cart.description3 %>" >
                                    <input type="text" class="form-control" name="cart[description4]" value="<%= cart.description4 %>" >
                                    <input type="text" class="form-control" name="cart[description5]" value="<%= cart.description5 %>" >
                                    <input type="text" class="form-control" name="cart[description6]" value=" <%= cart.description6 %>">
                                </div>
                                </div>
                                
                        <div class="form-group">
                                                
                            <div class="col-sm-10" >
                                <textarea cols="20" rows="3" type="text" class="form-control" name="cart[description]" value="<%= cart.description %> "></textarea>
                            </div>
                            </div>
                            
                                <div class="form-group">
                        
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="cart[price]" value="<%= cart.price %>">
                                        </div>
                                        </div>
                        
                        <div class="form-group">
                         <label for="inputEmail3" class="col-sm-2 control-label"><strong>  Select Category</strong></label>
                        <div class="col-sm-10">
                        <select name="cart[select]" value="<%= cart.select%>">
                                <option value="Books & Stationeries">Books & Stationeries</option>
                                <option value="Electronics">Electronics</option>
                                <option value="Furnitures">Furnitures</option>
                                <option value="Home Appliances">Home Appliances</option>
                                <option value="Fashion">Fashion</option>
                                <option value="Phones">Phones</option>
                                <option value="Sports">Sports</option>
                                <option value="Sweets & Cake">Sweets & Cake</option>
                                
                                
                                
                                
                                
                        </select>
                        </div>
                        </div>
                       
                        <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Update</button>
                            <a href="/home" class="btn btn-primary">Go Back</a>
                        </div>
                        </div>
                    </form>  
                  



        <% include partials/footer %>
