<% include partials/header %>


<head>
    <!-- <title>DREAM STORE</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
-->

<meta charset="UTF-8">
<meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>DREAM STORE</title>


<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.indigo-pink.min.css">
<!-- <link rel="stylesheet" href="/src/css/app.css">
<link rel="stylesheet" href="/src/css/feed.css"> -->
<link rel="manifest" href="/manifest.json">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="DREAMSTORE">
<link rel="apple-touch-icon" href="/public/src/images/icons/storeAPP 192x192.png" sizes="192x192">
<link rel="apple-touch-icon" href="/public/src/images/icons/storeApp 512x512.png" sizes="512x512">


<meta name="msapplication-TileImage" content="public/src/images/icons/storeApp 192x192.png">
<meta name="msapplication-TileColor" content="#fff">





    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

</head>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >


<div class="container">
    <div class="row    ">
        
        <div class="col-md-4 ">
            <div class="thumbnail">
                <img src="<%= cart.image %>">
                    
                 <p>
                        <h3 > <strong><%= cart.product %> </strong>  </h3>
                       <strong><h3> <em> ₹<%= cart.price%></em> </h3></strong>
                      
                 </p> 
            </div>
        </div>
        <div class="col-md-4">
                <div class="thumbnail">
                        
                       <h3><strong><em> <%= cart.select %> </em></strong> </h3>
                        <strong> <em style="float:right">Uploded by <a href="/users/<%=cart.author.id %>"> <%=cart.author.username %> </a></em>  </strong>
                       <strong> <em>Details:</em></strong> 
                        
                        <h5> <%=cart.description1 %></h5>
                        <h5> <%=cart.description2 %></h5>
                        <h5> <%=cart.description3 %></h5>
                        <h5> <%=cart.description4 %></h5>
                        <h5> <%=cart.description5 %></h5>
                        <h5> <%=cart.description6 %></h5>
                        <h5> <%=cart.description %></h5>
                      
                      <%  if(currentUser && cart.author.id.equals(currentUser._id)){%>
                        <a href="/home/<%= cart._id%>/edit" class="btn btn-warning">Edit Cart</a>
                        <form action="/home/<%= cart._id%>?_method=DELETE" method="POST" style="display:inline">
                            <button class="btn btn-danger">Delete Cart</button>
                        </form>
                    <%} %>
                    
                        

                </div>
        </div>
        
        <div class="col-md-4">
                <div class="thumbnail">

                        <% cart.comments.forEach(function(comment){ %>
                            <p >
                                <strong><%= comment.author.username %></strong><br>
                               
                                    <%= comment.text %>
                               
                            
                            </p>
                            <%  if(currentUser && comment.author.id.equals(currentUser._id)){%>
                            <a href="/home/<%= cart._id%>/comments/<%= comment._id%>/edit" class="btn btn-warning btn-xs">Edit Comment</a>
                            <form action="/home/<%= cart._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST" style="display:inline">
                                <button class="btn btn-danger btn-xs">Delete Comment</button>
                            </form>
                            <%} %>
                        <%}) %>
                        
                            <form action="/home/<%= cart._id%>/comments" method="POST" class="form-inline my-2 my-lg-6">
                                            <input class="form-control mr-sm-2" type="text"  name="comment[text]" placeholder="Write a comment" aria-label="Search" >
                                            <button class="btn btn-primary my-2 my-sm-0" type="submit">Post</button>
                            </form>    
                        
                                         
                           
                           
                 </div>
        </div>
        
    </div>

</div>

<% include partials/footer %>